.confirm-bg {
    padding: 0vw;
    display: block;
    /* background-color: lightskyblue; */
    border: solid 0.5vh #668ad8;
    font-size: 5vh;
}

textarea {
    width: 80vw;
    height: 25vh;
    font-size: 4vh;
}